<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nossos 3 Meses</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header class="header">
        <img src="../midia/perfil.jpg" alt="carlos" class="perfil">
        <span class="nome">carlos</span>
    </header>

    <div class="card">
        <p>
            NOSSOS 3 MESES<br><br>
            Carlos, meu amor, hoje completamos 3 meses juntos, e eu só consigo sentir gratidão por tudo que estamos construindo. Pode parecer pouco tempo, mas já vivemos momentos que marcaram muito o meu coração.

Estar com você tem sido leve, especial e cheio de aprendizados. Gosto da forma como você me faz sorrir, da sua companhia e de como, aos poucos, vamos nos conhecendo cada vez mais.

Ainda temos muito pela frente, e eu quero continuar construindo isso com você — com carinho, respeito e verdade. Eu amo você.

Feliz 3 meses para nós, meu príncipe!

Com carinho,
Ponciano.<br><br>

        </p>
        <p>"...eu te amei por mil anos, eu te amarei por mais mil."</p>
        <p class="pergunta">Você aceita continuarmos a nossa história?</p>
    <div class="botoes">
        <button id="sim">Sim</button>
        <button id="nao">Não</button>
    </div>
    
    <p id="mensagemSim" style="display:none; margin-top: 20px;">Eu sempre soube! Te amo.</p>
</div>
    </div>

    <div class="musica">
        <audio controls autoplay loop>
    <source src="midia/musica.mp4" type="audio/mpeg">
</audio>
    </div>
    <script src="conteudo.js"></script>

</body>
</html>
